{% extends 'base.html' %}

{% block title %}About Me{% endblock%}

{% block content %}

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('../static/img/about-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        {% for item in heading %}
                        {% if item.pagename == 'about' %}
                        <h1>{{item.heading}}</h1>
                        <hr class="small">                    
                        <span class="subheading">{{item.subheading}}</span>
                        
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                
                <p>{{ about.description|safe }}</p>
                
            </div>
        </div>
    </div>

    <hr>

{% endblock %}

